<!DOCTYPE html>
<html lang="{%language%}" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	
	<title>{%title%}</title>
<meta name='robots' content='noindex,follow' />
<link rel='stylesheet' id='dashicons-css'  href='{%path%}/assets/style.css' type='text/css' media='all' />
</head>

<body>
<div class="tebravo_main">
		<div class="title">{%error_number%}</div>
		<div class="desc">{%error_desc%}<hr></div>
		<div class="search"><i>{%search_desc%}</i><p>{%searchbox%}</p></div>
		<div class="footer">{%footer_desc%}</div>
</div>

</body>

</html>