/**
 * Technoyer Bravo WP Ultimate Security Wordpress Plugin
 */
.tebravo_container{
	margin:0 auto;
	width:96%;
	border:solid 1px #DBDBDB;
	background:#fff;
	padding:12px;
}
.tebravo_container .tebravo_icon{
	width:32px;
	height:32px;
	padding:6px;
	position:relative;
	display:inline-block;
}
.tebravo_container .tebravo_title{
	font-size:22px;
	font-family:arial;
	font-weight:bold;
	color:#535353;
	padding-top:10px;
	padding-left:12px;
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:top;
}
.tebravo_container .tebravo_extra{
	position:relative;
	float:left;
	right:5px;
	padding-top:10px;
	padding-right:0px;
	position:relative;
	display:inline-block;
	line-height:24px;
	vertical-align:top;
}
.tebravo_container .tebravo_extra a{
	padding:6px;
	text-decoration:none;
	 background-color: #ECECEC;
	border:solid 1px #D2D4D9;
    color: #5B5B5C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_container .tebravo_extra a:hover{
	padding:6px;
	text-decoration:none;
	 background-color: #2F81F2;
	border:solid 1px #3172CA;
    color: #F2F8FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_container .tebravo_desc
{
	position:relative;
	margin-left:44px;
	width:92.1%;
	padding:20px;
	border:solid 1px #BED0D5;
	background:#E6F4F8;
	font-family:tahoma;
	font-size:11pt;
	color:#4F5658;
}
.tebravo_container .tebravo_error
{
	position:relative;
	margin-left:44px;
	width:95%;
	padding:4px;
	border:solid 1px #B34545;
	background:#F28181;
	font-family:tahoma;
	font-size:14pt;
	color:#390A0A;
}
.tebravo_container .tebravo_error .close_x
{
	position:absolute;
	top:12px;
	right:8px;
	width:16px;
	height:16px;
	border:solid 1px #AD7575;
	background:#D6AFAF;
	padding:5px;
	font-weight:bold;
	line-height:11px;
	cursor:pointer;
}
.tebravo_container .tebravo_error .close_x:hover{background:#F4D4D4}
.tebravo_container .tebravo_msg
{
	position:relative;
	margin-left:44px;
	width:95%;
	padding:4px;
	border:solid 1px #8E9E67;
	background:#C5DD8C;
	font-family:tahoma;
	font-size:14pt;
	color:#686D5C;
}
.tebravo_footer{
	margin:0 auto;
	width:97%;
	background:#404040;
	height:22px;
	padding:8px;
	color:#E5E5E5;
	font-size:13px;
}
.tebravo_footer a{
	color:#DFF4AC;
	text-decoration:none;
}
.tebravo_footer .gopro
{
	width:120px;
	position:fixed;
	right:0px;
	bottom:0px;
	border:solid 1px #8AB81D;
	background:#4C5B27;
	padding:6px;
	z-index:999;
}
.tebravo_footer .gopro:hover{
	border:solid 1px #B2D97B;
	background:#D5F5A8;
}
.tebravo_footer .gopro:hover a{
	color:#C85117;
}
.tebravo_footer .gopro a{text-decoration:none; color:#ACEE0D;}
.tebravo_footer a:hover{
	color:#CCF764;
}
.tebravo_container .tebravo_msg .close_x
{
	position:absolute;
	top:12px;
	right:8px;
	width:16px;
	height:16px;
	border:solid 1px #ABB88B;
	background:#CDDAAE;
	padding:5px;
	font-weight:bold;
	line-height:11px;
	cursor:pointer;
}
.tebravo_container .tebravo_msg .close_x:hover{background:#E2EACE}
.tebravo_curved {
-webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
ul.tebravo_tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tebravo_tabs li {
  border: #B6BDCB solid 1px;
  border-bottom: none;
  float: right;
  margin: 0 .25em 0 0;
  padding: 9px;
	background:#EFEFEF;
	min-width:100px;
	cursor:pointer;
	
}
ul.tebravo_tabs li a {
  color: #5A5A5A;
  font-weight: bold;
  text-decoration: none;
	font-size:15px;
}
ul.tebravo_tabs li:hover{
	background:#F6F6F6;
}
ul.tebravo_tabs li.active:hover{
	background:#6B6B6B;
}
ul.tebravo_tabs li.active {
  background: #5C5F63;
	border:solid 1px #fff;
	border-bottom: none;
}
ul.tebravo_tabs li.active a {
  color: #fff;
	
}
.tebravo_clr {
  clear: both;
}
.tebravo_article{
  border-top: gray solid 1px;
  padding: 0 1em;
}
.tebravo_block_blank{
	display:inline-block;
	padding:4px;
	min-width:40%;
	vertical-align:top;
}
.tebravo_block_blank div.tebravo_blocks{
	display:inline-block;
	padding:4px;
	vertical-align:top;
}
.tebravo_block_blank label{
	padding:4px;
}
.tebravo_block_blank select{
	height:35px;
}
.tebravo_block_blank input[type="text"] , select{
	height:35px;
}
.tebravo_block_blank .button_button {
    background-color: #ECECEC;
	border:solid 1px #D2D4D9;
    color: #5B5B5C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_button:hover {
	background-color: #E4E6E9;
	border:solid 1px #D5D7DA;
    color: #5B5B5C;
}

.tebravo_block_blank .button_alert {
    background-color: #E05F20;
	border:solid 1px #C04C13;
    color: #F8F8F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_alert:hover {
	background-color: #E4992D;
	border:solid 1px #D18110;
    color: #F8F8F8;
}

.tebravo_block_blank .button_info {
    background-color: #2B8BEE;
	border:solid 1px #2076CF;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_info:hover {
	background-color: #6EADED;
	border:solid 1px #5296DB;
    color: #fff;
}

.tebravo_block_blank .button_success {
    background-color: #4FB727;
	border:solid 1px #368F14;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_success:hover {
	background-color: #72BF54;
	border:solid 1px #58A938;
    color: #fff;
}
.tebravo_block_blank .button_small {
    background-color: #ECECEC;
	border:solid 1px #D2D4D9;
    color: #5B5B5C;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
	max-heigth:39px;
}
.tebravo_block_blank .button_small:hover {
	background-color: #E4E6E9;
	border:solid 1px #D5D7DA;
    color: #5B5B5C;
}
.tebravo_block_blank .button_small_alert {
    background-color: #E05F20;
	border:solid 1px #C04C13;
    color: #F8F8F8;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_small_alert:hover {
	background-color: #E4992D;
	border:solid 1px #D18110;
    color: #F8F8F8;
}
.tebravo_block_blank .button_small_info {
    background-color: #2B8BEE;
	border:solid 1px #2076CF;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_small_info:hover {
	background-color: #6EADED;
	border:solid 1px #5296DB;
    color: #fff;
}

.tebravo_block_blank .button_small_success {
    background-color: #4FB727;
	border:solid 1px #368F14;
    color: #fff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
}
.tebravo_block_blank .button_small_success:hover {
	background-color: #72BF54;
	border:solid 1px #58A938;
    color: #fff;
}
.tebravo_errorTD td{
	border:0px;
	padding:6px;
	height:22px;
    font-size:13px;
	background:#FBE0B6;
	color:#BF1313;
}
.tebravo_underTD td{
	border-bottom:solid 1px #EFEFEF;
	padding:6px;
	height:22px;
    font-size:13px;
}
.tebravo_underTD:hover td{
	background:#EFEFEF;
}
.tebravo_headTD td{
	border-bottom:solid 1px #EFEFEF;
	background:#F1F1F1;
	padding:6px;
	height:22px;
    font-size:13px;
}


.tebravo_block_blank input[type="radio"] {
    display:none;
}
.tebravo_block_blank input[type="radio"] + label {
    color: #6B6B6B;
    font-family:Arial, sans-serif;
    font-size:14px;
}
.tebravo_block_blank input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.tebravo_block_blank input[type="radio"] + label span {
     background-color:#6B6B6B;
}

.tebravo_block_blank input[type="radio"]:checked + label span{
     background-color:#42B4D5;
}
.tebravo_block_blank input[type="radio"] + label span,
.tebravo_block_blank input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
.smallfont {font-family:tahoma; font-size:0.9em; color:#999999;}
.tebravo_code .code,
.tebravo_code pre {
  font-family: 'Source Code Pro';
  background: #292929;
  color: #fafafa;
  font-size: 16px;
	overflow-y: scroll;
	max-height:150px;
  padding: 0;
  padding: 10px;
  &:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data-lang);
    background: #9baecf;
  }
  .tebravo_code .o {
    color: orange;
  }
  .tebravo_code .w {
    color: white;
  }
}
#tebravo_results{display:none;}
.tebravo_displace{padding-left:55px;}

/* Notifications */
.tebravo_notifis_admin .regular45sp {
 font-family: 'Roboto', sans-serif;
 font-weight: 600;
 font-size: 45px;
 color: #212121;
 line-height: 36px;
 text-align: center;
 letter-spacing: -.5px;
 text-indent: -3px;
 padding: 50px;
}

.tebravo_notifis_admin ul {
 list-style: none;
 width: 100%;
 font-size: 0;
 margin: 0px;
 padding: 0px;
}

.tebravo_notifis_admin li {
 display: inline-block;
 width: 20%;
 height: 7px;
}

.tebravo_notifis_admin li:nth-child(1) {
 background: #2ecc71;
}

.tebravo_notifis_admin li:nth-child(2) {
 background: #3498db;
}

.tebravo_notifis_admin li:nth-child(3) {
 background: #f1c40f;
}

.tebravo_notifis_admin li:nth-child(4) {
 background: #e74c3c;
}

.tebravo_notifis_admin li:nth-child(5) {
 background: #9b59b6;
}
/* Styling the bar itself */

.tebravo_notifis_admin #topbar {
 position: fixed;
 bottom: -200px;
 display: block;
 z-index: 99999;
 box-sizing: border-box;
 width: 100%;
 padding: 15px;
 background-color: #323232;
 color: rgb(250, 250, 250);
 font-size: 14px;
 font-weight: 400;
 letter-spacing: 0.010em;
 line-height: 16px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
 border-radius: 2px;
 transition: bottom 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
 font-family: sans-serif;
 right: 10px;
 max-width: 320px;
 text-rendering: optimizeLegibility;
}
/* Hiding the checkbox */

.tebravo_notifis_admin #toggleTop {
 display: none;
}
/* Styling the lables, to show and hide the bar */

.tebravo_notifis_admin #showTop {
 position: fixed;
 z-index: 9999;
 top: 7px;
 left: 30px;
 display: block;
 padding: 10px;
 background-color: #000000;
 color: #fff;
 cursor: pointer;
 font-weight: bold;
 transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
 text-rendering: optimizeLegibility;
}

.tebravo_notifis_admin #showTop:hover {
 background-color: rgba(158, 158, 158, 0.2);
 color: rgba(0, 0, 0, 0.8);
}

.tebravo_notifis_admin #hideTop {
 float: left;
 display: inline-block;
 cursor: pointer;
 padding: 2px 6px;
 font-weight: bold;
 transition: all .4s cubic-bezier(.25, .8, .25, 1);
}

.tebravo_notifis_admin #hideTop:hover {
 background-color: rgba(158, 158, 158, 0.2);
}
/* Displaying the bar when the checkbox is checked */

.tebravo_notifis_admin #toggleTop:checked + #topbar {
 transition: bottom 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
 bottom: 20px;
}
#tebravoCreatePrefix::before{
	content:"<<";
	font-size:0.9em;
}
#tebravoCreatePrefix{
	color:#1C7DD8;
	cursor:pointer;
}
.tebravoFixInline::before{
	content:"<<";
	font-size:0.9em;
}
.tebravoFixInline{
	color:#2162BA;
	cursor:pointer;
}
.tebravoFixInline a:link{text-decoration:none;}
#tebravoCreatePrefix:hover{
	color:#D8511C;
}
.tebravo_loading_span{
	font-size:0.9em;
	color:#23A20A;
	background:#DEDEDE;
	display:none;
}

.tebravo_loading{
	margin:0 auto;
	top:50%;
	left:50%;
	border: 3px double #D7D7D7;
	background:#EFEFEF;
	position:fixed;
	display:none;
}
.tebravo_loading p{
	margin:0 auto;
	padding:4px;
	color:#536266;
	text-align:center;
}
.tebravo_breadcrumbs{
	color:#2162BA;
	cursor:pointer;
}
.tebravo_scan_process{
	padding:12px;
	border:dashed 1px #E1E1E1;
	color:#585858;
}
.tebravo_scan_bar{
	padding:1px;
	border:solid 1px #B7B7B7;
	background: #C8CDD2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#C8CDD2, #E3E6E9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C8CDD2, #E3E6E9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C8CDD2, #E3E6E9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C8CDD2, #E3E6E9); /* Standard syntax */
	width:99.6%;
	color:#0976D3;
	text-align:center;
}
.tebravo_scan_bar .progress{
background: #176FB9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#176FB9, #0E86EB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#176FB9, #0E86EB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#176FB9, #0E86EB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#176FB9, #0E86EB); /* Standard syntax */
	width:0%;
	color:#fff;
	height:100%;
}
.tebravo_scan_results{
	min-height:90px;
	max-height:190px;
	overflow-y:scroll;
	overflow-x:auto;
	border:solid 1px #D1D1D1;
}
.tebravo_scan_report_high{background:#BD1216; color:#E6E911;}
.tebravo_scan_report_shell{border:solid 1px #BD1216; background:#F9C9BF; color:#BD1216;}
.tebravo_scan_report_blacklisted{border:solid 1px #ccc; background:#FFF; color:#c3c3c3;}
.tebravo_errors_span{background:#F4D4D4; border:solid 1px #D38484; color:#8D3737; padding:2px;}
.dirlist td{
	max-height:500px;
	overflow:scroll-x;
}
.tebravo_flash_yellow{background:#F7F4AD}
.tebravo_flash_green{background:#ADF7AD}

/* The Modal (background) */
.tebravo_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.tebravo_modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-top:solid 1px #BED0D5; 
	border-right:solid 1px #BED0D5; 
	border-left:solid 1px #BED0D5; 
	border-bottom:solid 5px #404040; 
	background:#E6F4F8;
	color:#4F5658;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.tebravo_close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.tebravo_close:hover,
.tebravo_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.tebravo_little_alert
{
	z-index:999;
	position:fixed;
	top:-6;
	right:50%; 
	width:90px; 
	height:20px; 
	padding:4px;
	line-height:22px;
	border-top:solid 1px #BED0D5; 
	border-right:solid 1px #BED0D5; 
	border-left:solid 1px #BED0D5; 
	border-bottom:solid 5px #404040; 
	background:#E6F4F8;
	color:#4F5658;
}
.tebravo_little_alert img
{
	line-height:20px;
}
.tebravo_notice_error{
	border-left:solid 5px #42B4D5;
}
.tebravo_trail{
	font-size:9pt;
	color:red;
}